@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #7375d3;
  display: flex;
  justify-content: center;

  //   font-family: "Roboto", sans-serif;

  font-family: "CWDangamAsac-Bold";
}
