.main-title {
  color: white;
  text-shadow: 5px 5px 3px rgb(40, 0, 73), 0px 2px 3px rgb(40, 0, 73);

  -webkit-text-stroke: 0.5px #000;
  position: relative;

  text-align: center;
  padding: 15px 0 15px 0;
}

div {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    // margin: auto; //왜 가운데 안올까..
    display: flex;
    justify-content: center;
    li {
      float: left;
      position: relative;

      width: auto;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;

      background: rgba(255, 255, 255, 0.774);
    }
  }
}
